/**
* Custom global
*/

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
  
  h2{
  	margin-top: 7px;
  	font-size: 150%;
 	font-weight: bold;
  }  
  
  .in {
	position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    border: 2px solid #555;
	}  
	.cell{
		height:50px;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
  
  h2{
  	font-size: 200%;
 	font-weight: bold;
  }  

.in {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid #555;
}  
}

@media (min-width: 993px) {
  h2{
  	font-size: 450%;
 	font-weight: bold;
  }
  
.in {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 6px solid #555;
  }  
}

body{
	background-color: #eee;
	margin-bottom: 40px;
}

h1{
 font-size: 400%;
 font-weight: bold;
}


.dummy {
    margin-top: 100%;
}


.center-x {
	text-align: center;
}

.center-y {
	vertical-align: middle;
}