@(nums: List[Int], score: Int)

@display(num: Int) = {
	<div class="col-xs-3 cell">
		<div class="dummy"></div>
    	<div class="in text-center" id="te">
    		<h2>@num</h2>
		</div>
	</div>
}

@main(score) {
			<div class="row">   
				<div class="col-xs-7" id="board"> 		
					@for((num, idx) <- nums.zipWithIndex){
						@display(num)
					}
				</div>
				<div class="col-xs-5"> 		
					<div class="row">
						<div class="col-xs-offset-2 col-xs-8">
							<div class="btn-group center-block" id="mode">
		  						<button type="button" class="btn btn-primary btn-responsive" id="one">Easy</button>
  								<button type="button" class="btn btn-primary btn-responsive active" id="two">Medium</button>
  								<button type="button" class="btn btn-primary btn-responsive">Hard</button>
							</div>
						</div>
					</div>	
					<div class="row" style="margin-top: 10px">
						<div class=" col-xs-8" style="margin-left: 25px">
							<button type="button" class="btn btn-success btn-responsive center-block" id="reset">Reset Game</button>
						</div>
					</div>	
				</div>	
			</div><!-- /.row -->
			
			<div class="row">
			</div>
}