@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>@title</title>
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/app.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
      		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    	<![endif]-->
    </head>
    
    <body>
        @*original default page - @content *@
        
        <!-- 
        	<div class="col-sm-1 col-md-2" style="background-color: red"><img src="@routes.Assets.at("images/placeholder.gif")" class="img-rounded"></div>
        -->
        
<div class="container">
	<div class="row">
        <h1>2048 in Scala!</h1>
    </div>.
    
    
    <!--  Play around with this below -->
	<!-- <div class="row">
  
      <div class="col-md-2 col-sm-4 col-xs-6" style="background-color: red">
        <div class="dummy"></div>
        <a href="#x" class="thumbnail purple">Homepage</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6"  style="background-color: blue">
        <div class="dummy"></div>
        <a href="#x" class="thumbnail purple">View Profile</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a href="#x" class="thumbnail purple">Something<br>2 lines</a>
	   </div>
       <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a href="#x" class="thumbnail purple">Something 2 lines</a>
	   </div>
       <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a href="#x" class="thumbnail purple">Homepage</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a href="#x" class="thumbnail purple">View Profile</a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="dummy"></div>
       <a href="#x" class="thumbnail purple">Something 2 lines</a>
	   </div>
       <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        	<a href="#x" class="thumbnail purple">Something 2 lines</a>
	   </div>
      
  	</div>
</div>

-->
<div class="row">
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in yellow">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in green">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in red">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in magenta">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in gray">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in blue">
    </div>
</div>

<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in yellow">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in green">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in red">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in magenta">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in gray">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in blue">
    </div>
</div>

<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in yellow">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in green">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in red">
    </div>
</div>
<div class="col-xs-3">
    <div class="dummy"></div>
    <div class="in magenta">
    </div>
</div>
</div>

    </body>
    
  	<!-- JS Files at bottom -->  
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
</html>
